<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<!-- Parameters used by tests at runtime -->
	<TestRunParameters>
		<Parameter name ="Browser" value="Chrome" />
		<Parameter name ="WebDriverTimeOut" value="60" />
		<Parameter name ="WaitElementTimeOut" value="80" />
		<Parameter name ="ScreenShotPath" value="\Screenshots" />
		<Parameter name ="LogsPath" value="Logs\Logs.txt" />
		<Parameter name ="ApplicationUrl" value="https://training.by/en"/>
		<Parameter name ="TestDataFolder" value="TestFiels"/>
	</TestRunParameters>

	<NUnit>
		<NumberOfTestWorkers>6</NumberOfTestWorkers>
	</NUnit>
</RunSettings>

